body{
    background: #3d71de;
    height: 100vh;
}

.responsive{
    height: auto;
    width: 100%;
}

.alert{
    width: 90% !important;
}

.close span{
    margin-top: -10px;
    position: absolute;
    right: 5px !important;
}

img{
    margin-top: 30px;
    width: 150px;
}

.parent{
    padding: 64px;
}
.container-card{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    padding: 32px;
    row-gap: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.container-card img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}
.container-card h2{
    color: #fff;
}
input {
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input{
    height: auto;
    width: 100%;
    padding: 8px 16px;
}

button{
    border: none;
    background: rgba( 93, 90, 234, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 8px 32px;
    color: #fff;
}
button:hover{
    transition: all 0.2s ease-in-out;
    color: black;
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.line{
    height: 1px;
    width: 50%;
    background: #fff;
}
.container-card a{
    color: #fff;
}
.no-outline:focus {
    outline: none;
}
@media screen and (min-width: 601px) {
    .parent{
        padding: 128px;
    }
    .container-card{
        padding: 64px;
    }
    .container-card img{
        height: auto;
        width: 200px;
    }
}
@media screen and (min-width: 960px) {
    .parent{
        display: grid;
        place-items: center;
        padding: 64px;
    }
    .container-card{
        width: 50%;
        height: auto;
    }
    input{
        width: 100%;
        margin-right: 150px;
    }

}